@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap%27');

body{
	background-color: grey;
	width: 100%;
	height: 100%;
	margin: 0px;
    border: 0;
    overflow: hidden;
	
	/*margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 5%;
	margin-left: 5%;*/
}

header{
	padding-top: 0.12em;
	color: black;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	letter-spacing: -10px;
	font-size: 124px;

	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
	-webkit-text-fill-color:#420766;

}

.score{
	color: black;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	letter-spacing: -2px;
	font-size: 25px;

	-webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: white;
	-webkit-text-fill-color: #420766;
}

footer{
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	letter-spacing: -1px;
	margin-bottom: 0.1em;
	-webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
	-webkit-text-fill-color: #420766;
}